body{
  display: flex;
  flex-direction: column;
  font-family: 'Titillium Web', sans-serif;
}

/* Landing */
.landing{
  background: linear-gradient(rgba(255, 23, 68, 0.9), rgba(244, 67, 54, 0.7)), url('assets/img/picture.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.landing .navigation .logo{
  width: 170px;
  padding: 10px 30px;
}

@media (max-width: 810px) {
  .landing .navigation .logo{
    width: 100%;
    padding: 10px 20%;
  }
}

.landing .heading{
  text-align: center;
  margin: 0 8px;
}

.landing .heading h1{
  color: white;
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.landing .heading p{
  color: white;
  font-size: 2em;
  font-style: italic;
}

.landing .search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 10px 40px;
}

.landing .search>*{
  margin: 5px 0;
}

.landing .search input{
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: large;
}

.landing .search button{
  border: none;
  outline: none;
  background: rgba(255, 23, 68, 1);
  border-radius: 30px;
  padding: 15px 20px;
  font-size: large;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

@media (min-width: 810px) {
  .landing .search{
    flex-direction: row;
  }

  .landing .search input{
    width: 450px;
  }

  .landing .search>*:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .landing .search>*:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/* Jumbotron */
/*.jumbotron{
  background: #EEE;
  border-radius: 6px;
  width: 730px;
  margin: 20px auto;
  padding: 30px 40px;
}

@media (max-width: 810px) {
  .jumbotron{
    width: auto;
    margin: 20px;
    padding: 15px 10px;
  }
}

.jumbotron .header{
  text-align: center;
}

.jumbotron .header h1{
  font-size: 72px;
  margin: 0;
}

.jumbotron .header h3{
  margin: 20px 0 0;
}

.jumbotron .search{
  display: flex;
  margin-top: 20px;
}

@media (max-width: 810px) {
  .jumbotron .search{
    flex-direction: column;
  }

  .jumbotron .search>*{
    margin: 7px 0;
  }

  .jumbotron .search>*:first-child{
    margin: 0 0 7px 0;
  }

  .jumbotron .search>*:last-child{
    margin: 7px 0 0 0;
  }

  .jumbotron .search button{
    width: 100%;
  }
}

@media (min-width: 810px) {
  .jumbotron .search .input{
    flex: 1;
  }

  .jumbotron .search>*{
    margin: 0 10px;
  }

  .jumbotron .search>*:first-child{
    margin: 0 10px 0 0;
  }

  .jumbotron .search>*:last-child{
    margin: 0 0 0 10px;
  }
}

.jumbotron .options{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d3d3d3;
  margin-top: 20px;
  padding-top: 20px;
}

@media (max-width: 810px) {
  .jumbotron .options{
    flex-direction: column;
  }

  .jumbotron .options>*{
    margin: 7px 0;
  }

  .jumbotron .options>*:first-child{
    margin: 0 0 7px 0;
  }

  .jumbotron .options>*:last-child{
    margin: 7px 0 0 0;
  }
}*/

/* Videos */
.videos .video{
  display: flex;
  flex-direction: row;
}
